/* *{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    border: 2px solid white;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
} */
/* div{
    background-color: aquamarine;
    display: inline;
} */
/* #a{
    background-color: blue;
}
#b{
    background-color: green;
}
#c{
    background-color: rgba(255, 0,0 , 1);
}
div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
} */

*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    border: 2px solid white;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.Cbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
footer{
    color: white;
    background-color: #0f1111;
    text-align: center;
}
#content{
    height: 541px;
}