body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: center; */
}
#b1{
    background-color: aqua;
    /* flex-shrink: 2; */
    flex-grow: 2;
}
#b2{
    background-color: pink;
}
#b3{
    background-color: darkkhaki;
}
#b4{
    background-color: indianred;
}
#b5{
    background-color: slateblue;
}